.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -3;
  .homeSection1 {
    width: 100%;
    height: calc(100vw * 0.5);
    position: absolute;
    object-fit: cover;
    top: 0;
    @media screen and (max-width: 972px) {
      height: 30%;
    }
    z-index: -2;
  }
  .homeSection2 {
    width: 100%;
    height: calc(100vw * 0.5);
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -2;
    @media screen and (max-width: 972px) {
      height: 30%;
    }
  }
}
.section2,
.section1 {
  object-fit: contain;
  height: 100%;
  width: 100%;
  // object-fit: fill;
}
.min-btn {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
}
.MuiDialog-container .MuiDialogTitle-root,
.MuiDialog-container .MuiSvgIcon-root,
.MuiDialog-container .MuiButton-label {
  color: white !important;
  z-index: 10000 !important;
}

.MuiCircularProgress-root.MuiCircularProgress-colorPrimary.MuiCircularProgress-indeterminate {
  width: 20px !important;
  height: 20px !important;
}
